Address John Scudder's DISCUSS

----------------------------------------------------------------------
DISCUSS:
----------------------------------------------------------------------

Thanks for this update. Since I already balloted No Objection on version 13,
I’ve only reviewed the changes. They look fine, except one, on which I’m
balloting DISCUSS. Be not afraid, this is the world’s easiest DISCUSS, and it
comes packaged with a fix I think you will like.

Version 14 says: “The update policy is “Specification Required”. Updates do not
require an expert review by a Designated Expert.” This was changed from version
13, which said, “The update policy is “RFC Required”. Updates do not require an
expert review by a Designated Expert.” I presume it was changed as a result of
Murray’s DISCUSS questioning the “do not require an expert review” sentence and
suggesting the use of Specification Required.

I agree with Murray’s questioning of that sentence, but I’m afraid his fix has
made things worse, not better. That’s the bad news, the good news is the
correct fix is trivially easy. In my view, the correct fix is to revert to the
version 13 policy, but completely delete the “do not require” sentence. That is,

OLD (version 14):
  The update policy is “Specification Required”.  Updates do not
  require an expert review by a Designated Expert.

NEW:
  The registration policy is “RFC Required”.

I’ve discussed this with Murray and he agrees in broad strokes.

A little more background: the problem with shifting to Specification Required
is that it definitionally requires use of an expert, you can’t disclaim it per
my reading of RFC 8126 Section 4.6:

  For the Specification Required policy, review and approval by a
  designated expert (see Section 5) is required [...]

There is no “unless” clause. No DE, no SR. Besides that, it’s not what you
want! (I think. More below.)

On the other hand, “RFC Required” (Section 4.7) doesn’t require expert review
to begin with, so it’s redundant to say one isn’t required. Ergo, since this
seems to be the policy you really want (demonstrated by the “reference” field
definition in your template), simplify and stick with it! Do note that “RFC
Required” is a more stringent policy than some, since as you know, it isn’t
trivial to publish an RFC. But I’m assuming you knew that and chose your words
deliberately.

(In my NEW text I also changed “update policy” to “registration policy” since
that’s the RFC 8126 lingo.)