Address Murray Kucherawy comments

suspect you need normative references to RFC 7303 ("application/xml") and RFC 8259 ("application/json").

Then was this exchange:
>On Dec 15, 2022, at 7:40 AM, Murray S. Kucherawy <[superuser@gmail.com](mailto:superuser@gmail.com)> wrote:

>Hi Mahesh,

>On Thu, Dec 15, 2022 at 7:37 AM Mahesh Jethanandani <[mjethanandani@gmail.com](mailto:mjethanandani@gmail.com)> wrote:

>>>The SHOULD in Section 2 has me wondering why one might choose not to do what it
says.  Or should this be a MUST?

>>The reason for keeping it a SHOULD instead of a MUST was that a publisher does not need to know the capabilities of the receiver to start sending a notification. It can, a priori, start sending a notification in a particular format, e.g. XML. If it receives an error, it can at that time query to find the capabilities.

>I think that's fine, but then we should say why an implementation might intentionally choose to do that and what the implications (advantages or risks) are.

One other point that I forgot to mention. The need to learn some of the capabilities, like the encoding formats, is needed only if the /subscriptions/subscription/encoding leaf is not configured as defined in RFC 8639. HTTP being session-less, the idea has always been of what it would take to simplify the sending of notifications.

Having said that, how about this addition in the first paragraph of Section 3.1, Applicability.

"If the “encoding” leaf is not configured, and the publisher wants to send a notification in a particular format, without going through the setup operation of learning the receiver capabilities, it can do so, but has to be prepared for the case when it receives an error response, because the receiver does not support the format sent by the publisher."

