Address IESG comments on the draft.

In particular, and this is a summary:

> On Dec 15, 2022, at 11:50 AM, Kent Watsen <[kent@watsen.net](mailto:kent@watsen.net)> wrote:

﻿

>> On Dec 15, 2022, at 12:16 PM, Rob Wilton (rwilton) <[rwilton@cisco.com](mailto:rwilton@cisco.com)> wrote:

>> Hi Mahesh, Kent,

>> So, I spent some time discussing this draft today, particularly the H3 comments, and also briefly the security considerations.

>> The concerns coming from Lars, Zahed (and Eric V a bit) were:
>> - since this is just an application running over HTTP it should be agnostic to HTTP version.

> It is (I think)


>> - the draft is mixing layers, e.g , running over the HTTP verbs but also discussing network parameters.

> What network parameters?


>> - if the client wants to send using HTTP3 that should work.

> Sure, but the http-client-server draft doesn't support configuring an H3 client yet.


>> - there was also a suggestion that all new IETF docs running over HTTP should also be able of supporting HTTP3 but that wasn't clear.

> Should or SHOULD  ;)


>> I pointed out that if is NETCONF/RESTCONF devices that are sending these notifications and none of these are HTTP3 capable today.  

> That's not true.   From RFC 8040, Section 2.1:

>   RESTCONF does not require a specific version of HTTP.  However, it is
   RECOMMENDED that at least HTTP/1.1 [[RFC7230](https://datatracker.ietf.org/doc/html/rfc7230)] be supported by all
   implementations.

> And, besides, it doesn't matter what the HTTP version is used for the NBI, the notifications can be sent over any other protocol and/or protocol version.


>> I.e., I was pushing for standardizing what we need today, and doing an updating version of the document to support HTTP3 if needed in future.

> That is a good strategy as, otherwise, we'd have to delay the "client-server suite of drafts", which the BBF would be pretty upset about...


>> I think that we got to the conclusion that:
> - This draft needs to cite the relevant HTTP drafts.

> Yes

>> - This draft should indicate that it is current designed to work with HTTP1.1 or HTTP2.

> Yes

>> - This draft (of the YANG model that it contains) should be extensible to HTTP3 in future.

> This is true already (I think)


>> Eric also pointed out these comments may also apply to the other drafts that we are progressing and hence we should check if these comments equally apply there.

> Just the http-client-server draft?


>> In terms of security (Roman's discuss comment):
> - Roman wanted text to explain which fields in the x509 certificate are used to compare against the local user-id.

> x509c2n:cert-to-name is used to create mappings.


>> Anyway, hopefully these comments are helpful to resolve these discuss points, and ultimately it is getting the other ADs to agree with you proposed text/changes that is really needed.  If you think that it would be helpful to have a call then please let me know, but it would need to be Monday or Tuesday of next week.